body {
  font-family: system-ui, sans-serif;
  background-color: #f1f5f8;
}

.container {
  margin: 20px auto;
  max-width: 500px;
}

.title {
  text-align: center;
}

.btn {
  background-color: #6574cd;
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn--delete {
  background-color: transparent;
}

.btn--delete:hover path {
  fill: #e3342f;
}

.btn--check {
  background-color: transparent;
}

.btn--check path {
  fill: black;
}

.btn--add-todo {
  border-radius:0 5px 5px 0 ;
}

.todo-list__item--completed .btn--check path,
.btn--check:hover path {
  fill: #38c172;
}
.todo-app__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 10px;
}

.todo-app__footer-text {
  flex-grow: 1;
}


.form {
  display: block;
  margin-bottom: 2rem;
}

.form__group {
  display: flex;
  width: 100%;
}

.form-control {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.form-control:focus {
  outline: none;
  border-color: #6574cd;
}
